QWidget {
  background: #101010;
  color: white
}

ToolListEntry {
  background-color: #181818;
  border-style: none;
  border-radius: 8px;
  padding: 0px;
}

Tool {
}

QDoubleSpinBox {
  background: #222222
}

QPushButton {
  background-color: #222222;
  border-style: none;
  border-radius: 8px;
  padding: 5px;
  color: orange;
}

QPushButton:hover {
  background-color: #282828
}

ApplyButton {
  color: white;
  background-color: #304830
}

ApplyButton:hover {
  color: white;
  background-color: #406840
}
